In [1]:
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from IPython.display import Image
import pandas as pd
import numpy as np
import pydotplus
import os

## 1. 데이터로드

In [2]:
data = pd.read_excel('C:/Users/lucky/바탕 화면/Capstone-Design/processed_data_2.xlsx',header=0)

In [3]:
data.drop(['mod_d'], axis='columns', inplace=True)

In [4]:
data.drop(['psu'], axis='columns', inplace=True)

In [5]:
data

,region,town_t,apt_t,sex,age,incm,ho_incm,incm5,ho_incm5,edu,...,LS_1YR,LK_EDU,LK_LB_CO,LK_LB_US,LK_LB_IT,LK_LB_EF,LF_secur_y,LF_BUYER,LF_SAFE,target
0,1,1,2,1,80,1,1,2,1,3,...,1,2,1,2,88,8,1,2,1,저
1,1,1,2,1,78,4,4,5,5,4,...,1,2,2,8,88,8,1,1,1,고
2,1,1,2,2,75,4,4,5,5,3,...,2,2,2,8,88,8,1,1,1,고
3,1,1,2,2,80,2,1,2,1,1,...,1,2,2,8,88,8,1,1,1,고
4,1,1,2,2,71,1,1,2,1,4,...,2,1,2,8,88,8,1,1,1,저
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6073,8,1,2,1,1,3,3,4,4,1,...,1,3,3,8,88,8,1,1,1,저
6074,8,1,2,2,73,2,1,2,1,1,...,2,2,1,2,88,8,1,1,1,저
6075,8,1,2,1,43,3,4,4,4,4,...,2,2,1,2,88,8,1,1,2,고
6076,8,1,2,1,10,3,4,4,4,1,...,2,2,2,8,88,8,1,1,2,고
6077,8,1,2,2,8,4,4,4,4,1,...,2,2,1,2,88,8,1,1,2,고

In [6]:
(data['target'] == '고').count()

6078

In [7]:
(data['target'] == '중').count()

6078

In [8]:
(data['target'] == '저').count()

6078

## 2. 클래스 분리

In [9]:
X = data.drop(['target'], axis=1)
y = data['target']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [11]:
X_train

,region,town_t,apt_t,sex,age,incm,ho_incm,incm5,ho_incm5,edu,...,L_DN_WHO,LS_1YR,LK_EDU,LK_LB_CO,LK_LB_US,LK_LB_IT,LK_LB_EF,LF_secur_y,LF_BUYER,LF_SAFE
1729,3,1,2,2,11,4,4,4,4,1,...,1,1,2,1,2,88,8,1,1,1
1337,2,1,2,2,37,3,3,3,4,4,...,1,2,2,1,1,1,2,1,1,1
4843,13,2,1,2,75,3,1,4,2,3,...,1,1,2,2,8,88,8,1,1,2
1117,1,1,1,1,71,4,4,5,5,1,...,1,1,2,1,2,88,8,1,1,1
1864,4,1,2,1,24,4,4,4,4,3,...,8,1,2,2,8,88,8,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2401,6,1,2,1,22,3,3,3,4,3,...,1,1,2,1,2,88,8,1,1,1
944,1,1,1,1,17,4,4,5,5,2,...,1,1,2,1,1,1,1,1,1,1
1449,2,1,1,2,21,2,3,3,3,4,...,2,1,2,1,2,88,8,1,1,1
4066,9,1,1,2,58,1,2,2,2,3,...,1,1,2,1,2,88,8,1,1,2
1101,1,1,1,1,36,1,2,2,3,4,...,1,1,2,2,8,88,8,1,1,1

In [12]:
X_test

,region,town_t,apt_t,sex,age,incm,ho_incm,incm5,ho_incm5,edu,...,L_DN_WHO,LS_1YR,LK_EDU,LK_LB_CO,LK_LB_US,LK_LB_IT,LK_LB_EF,LF_secur_y,LF_BUYER,LF_SAFE
4243,10,1,2,2,80,2,1,3,1,1,...,1,1,2,2,8,88,8,1,1,3
1123,1,1,1,1,61,1,2,1,2,2,...,1,1,2,1,2,88,8,1,1,2
1280,2,1,2,1,69,3,3,4,4,3,...,8,2,2,1,2,88,8,1,1,1
3527,9,1,2,1,36,1,2,2,3,4,...,2,1,2,1,2,88,8,1,1,1
1066,1,1,1,2,40,2,3,2,3,4,...,1,1,2,1,2,88,8,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3057,9,1,1,2,67,2,2,3,2,1,...,8,1,2,1,2,88,8,1,1,1
132,1,1,1,2,43,4,4,5,5,4,...,1,2,2,1,1,1,1,1,1,1
2594,6,1,2,2,42,3,3,4,4,4,...,8,2,2,1,2,88,8,1,1,2
3667,9,2,1,1,61,4,4,5,5,1,...,1,2,2,2,8,88,8,1,1,1
1315,2,1,1,1,71,4,4,5,5,3,...,8,2,2,2,8,88,8,1,2,1

In [13]:
y_train

1729    중
1337    고
4843    고
1117    고
1864    고
       ..
2401    고
944     고
1449    고
4066    고
1101    고
Name: target, Length: 4558, dtype: object

In [14]:
y_test

4243    저
1123    고
1280    고
3527    고
1066    고
       ..
3057    저
132     고
2594    고
3667    고
1315    중
Name: target, Length: 1520, dtype: object

## 3. 데이터학습

In [15]:
dt_clf = DecisionTreeClassifier()

- 로드된 의사결정 트리 분류 모듈을 변수 dt_clf에 저장한다.

In [16]:
dt_clf = dt_clf.fit(X_train, y_train)

- 의사결정 트리 분류 모듈이 저장된 변수 dt_clf 의 함수 fit() 에 변수 X_train, y_train 을 입력해 의사결정 트리 분류 모델을 생성한다.
- 그런 다음 생성한 모델을 다시 변수 dt_clf에 저장한다.

In [17]:
dt_prediction = dt_clf.predict(X_test)

- 변수 dt_clf의 함수 predict()에 변수 X_test를 입력한다. 
- 그리고 입력한 X_test에 대한 클래스 예측 값을 변수 dt_prediction에 저장한다.

## 4. 의사결정트리 그래프 표현

In [33]:
os.environ["PATH"] += os.pathsep + 'C:\Users\lucky\anaconda3\Lib\site-packages\pydotplus'
os.environ['PATH'] = os.environ['PATH']+';'+os.environ['CONDA_PREFIX']+r"\Lib\site-packages\pydotplus\graphviz"

- ipython 내에서 그래프를 생성할 수 있는 인터페이스 경로를 추가 설정하는 부분

In [26]:
feature_names = data.columns.tolist()

- 트리표현 함수에 입력되는 파라미터 중 하나인 feature_names에 값을 입력하기 위해, 변수 tennis_data의 각 컬럼명을 list형태로 변환한 후 변수 feature_names에 저장한다.

In [27]:
feature_names = feature_names[0:365]

In [28]:
target_name = np.array(['고', '중', '저'])

- 트리표현 함수에 입력되는 파라미터 중 하나인 class_name에 값을 입력하기 위해, Target_class 값인 '고', '중', '저'를 배열형태로 변수 target_name에 저장한다.

In [29]:
dt_dot_data = tree.export_graphviz(dt_clf, out_file = None,
                                  feature_names = feature_names,
                                  class_names = target_name,
                                  filled = True, rounded = True,
                                  special_characters = True)

In [30]:
dt_graph = pydotplus.graph_from_dot_data(dt_dot_data)

In [34]:
Image(dt_graph.create_png())

InvocationException: GraphViz's executables not found